.DS_Store
.task
getting_started/hello_world/dist
infrastructure-as-go/cdk-go/cdk-instance/cdk.context.json
lambda-go/lambda-cdk/hello-world/dist/main
lambda-go/lambda-cdk/hello-world/dist/main.zip
lambda-go/simple-lambda/dist
lambda-go/simple-lambda/testdata/lambda.out
aws-go-sdk-v2/lambda/lambdasummary/app/dist
testing-go/gotest/container/app/dist
testing-go/gotest/container/infra/cdk.out
testing-go/gotest/container/infra/dist
architectures/container/infra/1-table/cdk.out
architectures/container/infra/cdk.out
architectures/container/infra/dist
architectures/container/dist
architectures/container/app/dist
cdk.out
architectures/container/infra/1-vpc/dist
architectures/container/infra/tmp
infrastructure-as-go/cdk-go/lambda/dsl/app/dist
infrastructure-as-go/cdk-go/thecdkbook/chapter6/customresource/app/dist
infrastructure-as-go/cdk-go/thecdkbook/chapter6/customresource/dist
architectures/serverless/app/dist
architectures/serverless/infra/dist
infrastructure-as-go/goformation/dynamodb/dist
infrastructure-as-go/cdk-go/thecdkbook/chapter2/stack/.vscode
infrastructure-as-go/cdk-go/lambda/deploy_bundler/dist
.vscode
aws-go-sdk-v2/dynamodb/crud/node/node_modules
aws-go-sdk-v2/s3copy/dist
aws-go-sdk-v2/exercise-2-4/code-task2/dist
aws-go-sdk-v2/dynamodb/crud/go/create-table/dist
lambda-go/dump/dist
lambda-go/dump/code.zip
lambda-go/dump/download.txt
aws-go-sdk-v2/s3copy/testdata/test.txt
aws-go-sdk-v2/s3/manyfiles/create30k-g
aws-go-sdk-v2/s3/manyfiles/create30k-i
aws-go-sdk-v2/dynamodb/crud/go/create-table-books/dist
infrastructure-as-go/cdk-go/lambda/deploy_custom_runtime/dist
lambda-go/lambda-cdk/hello-world-custom/dist
go-the-language/slog/goa.log
lambda-go/simple-lambda-al2/dist
