.DS_Store
.task
getting_started/hello_world/dist
infrastructure-as-go/cdk-go/cdk-instance/cdk.context.json
lambda-go/lambda-cdk/hello-world/dist/main
lambda-go/lambda-cdk/hello-world/dist/main.zip
lambda-go/simple-lambda/dist
lambda-go/simple-lambda/testdata/lambda.out
aws-go-sdk-v2/lambda/lambdasummary/app/dist
architectures/container/infra/1-table/cdk.out
architectures/container/infra/cdk.out
architectures/container/infra/dist
architectures/container/dist
architectures/container/app/dist
cdk.out
architectures/container/infra/1-vpc/dist
architectures/container/infra/tmp
